*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.container{
    position: relative;
}

.container .cube{
    z-index: 2;
}

.container .cube div{
    position: absolute;
    display: flex;
    flex-direction: column;
}